#GamePage{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 1fr);
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

#hp-bar{
    position: absolute;
    top: 10px;
    left: 10px;

    width: 300px;
    height: 80px;

    padding-left: 20px;

    display: flex;
    align-items: center;
    gap: 10px;
}

#mini-map{
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid green;
    width: 850px;
    height: 500px;

    transition: 1s;
}

#mini-map.move{
    left: 50%;
}

#status-menu.move{
    left: 20%;
}

#status-menu{
    position: absolute;
    left: -20%;
    top: 55%;
    transform: translate(-50%, -50%);
    
    border: 1px solid red;
    width: 300px;
    height: 400px;

    transition: 1s;

    padding: 30px;
}

.hp{
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
    background: url(../../img/hp.png);
    background-size: 100% 100%;
}

.hp.half{
    border-color: green;
}

#cat{
    position: absolute;
    z-index: 10;
    top: 0%;
    left: 0%;
    width: 60px;
    height: 60px;
    background-color: red;
}

.fish{
    width: 40px;
    height: 15px;
}

.fish::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background: url("../../img/멸치.png") no-repeat;
    background-size: contain;
}
.r.fish::before {
    transform: translate(-50%,-50%) scaleX(-1);
}
.u::before{
    transform: translate(-50%,-50%) rotate(90deg);
}
.d::before{
    transform: translate(-50%,-50%) rotate(-90deg);
}

#status-menu > #status-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#status-menu > #status-header > div:nth-of-type(1){
    font-size: 1.5em;
    font-weight: 700;
}

#status-menu > #status-box{
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

#status-menu > #status-box > div{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

#status-menu > #status-box > div > div:nth-of-type(2){
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.status-box{
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid red;
}

.status-box.blanck{
    width: 20px;
    height: 20px;
    background: none;
    border: 1px solid red;
}

#status-menu > #item-list-box{
    padding: 20px 0 ;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#item-list-box > div{
    width: 25px;
    height: 25px;
    border: 1px solid cadetblue;
}

.mob{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
}

#cat.hit{
    animation-name: hitting;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes hitting{
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}